form
  .row
    margin-top 10px !important
.submit-group
    margin-top 20px !important
a[href="https://froala.com/wysiwyg-editor"], a[href="https://www.froala.com/wysiwyg-editor?k=u"] {
  display: none !important;
  position: absolute;
  top: -99999999px;
}
