.Header
    background -webkit-linear-gradient(top, #f9f9f9, #f2f2f2)
    padding 5px
    align-items center
    .Header-title
        p
            margin 0
            svg
                margin-right 8px
.Header-menu-cedulas
    align-items: center
    position relative
    p
        margin  0 0 0 5px

.Header-subMenu-cedula
    transition all 2s
    list-style  none
    background white
    margin 0
    padding 6px
    border-radius 5px 5px 5px 5px
    position absolute
    top 35px
    left 0
    border thin solid rgba(0,0,0,.3)
    z-index 999
    li
        padding 5px
        &:hover
            cursor pointer
            background: #007bff
            color white
.menu-cedulas
  list-style: none;
  display: flex;
  padding 0px
  a
    color black
    display: block
    text-decoration: none;
    text-align: center;
  li
    padding 5px
    margin 0px 5px
    background-color: background -webkit-linear-gradient(top, #f9f9f9, #f2f2f2)
    color black
    width 120px
  li.active
    padding 5px
    margin 0px 5px 0px 0px
    background-color: #0984e3
    color white
    border 2px solid rgba(0,0,0,0.1)
    a
      color white !important
