.submit-group
    margin-top 20px !important
    input[type=submit]
      margin-right: 15px
.submit-group-observaciones
  margin-top: 50px !important
a[href="https://froala.com/wysiwyg-editor"], a[href="https://www.froala.com/wysiwyg-editor?k=u"] {
  display: none !important;
  position: absolute;
  top: -99999999px;
}

.btn-remitente
  display: block
.espacios_observaciones, .espacios_oficio
  border-bottom 1px solid #bdc3c7
  margin-top: 10px !important
  padding-bottom: 20px
  .btn-obvs
    margin-top: 13px
.datos_oficio
  border-bottom 1px solid #bdc3c7
  padding-bottom: 20px
  button
    margin-top: 10px !important
.label-bold
  label
    font-weight: bold;
.datos_confronta
  border-bottom: 1px solid #bdc3c7
  padding-bottom 20px
.btn-letters
  cursor pointer
  text-align: center
  display: flex
  .upper, .lower
    border 1px solid white
    padding 2px 5px
    border-radius 5px
    margin 0px 7px
  .upper:hover
    background-color: white
    color black
  .lower:hover
    background-color: white
    color black
.btn-print
  margin-left 15px