.error
    border-top:5px solid red
    border-radius: 10px
    padding 2.2em
    h5
        svg
            color red
            margin-right 10px 

.success
    border-top:5px solid green 
    border-radius: 10px
    padding 2.2em
    h5
        svg
            color green
            margin-right 10px 
.answer
    border-top:5px solid #26bce0
    border-radius: 10px
    padding 2.2em
    width 100% !important

.auditoria
    border-top:5px solid #26bce0
    border-radius: 10px
    padding 2.2em
    width 100% !important
    max-width  1100px !important
.remitentes
    border-top:5px solid #26bce0
    border-radius: 10px
    padding 2.2em
    width  1100px !important
table
    td
        font-size: 14px
.rt-tbody
    font-size: 13px !important