.error
    border-top:5px solid red
    padding 2.2em
    h5
        svg
            color red
            margin-right 10px

.error_load
    border-top:4px solid red
    padding 3.2em 2.2em
    box-shadow 10px 10px 10px rgba(0,0,0,.5)
    h5
        svg
            color red
            margin-right 10px

.success
  border-top:4px solid #27ae60
  padding 3.2em 2.2em
  box-shadow 10px 10px 10px rgba(0,0,0,.5)
  h5
      svg
          color #27ae60
          margin-right 10px
.answer
    border-top:5px solid #26bce0
    padding 2.2em
    width 100% !important

.auditoria
    border-top:5px solid #26bce0
    padding 2.2em
    width 100% !important
    max-width  1100px !important
    input[type=checkbox]
      width: 20px
      height: 20px
.remitentes
    border-top:5px solid #26bce0
    padding 2.2em
    width  1100px !important
table
    td
      font-size: 14px
.rt-tbody
  font-size: 13px !important
  cursor: pointer
.remitente-select
  background-color: red

.textosPromocion
    border-top:5px solid #26bce0
    padding 2.2em
    width 100% !important
    max-width  1100px !important
    height: 600px !important
    overflow-x: scroll;
    input[type=checkbox]
      width: 20px
      height: 20px
    table
      td
        font-size: 14px
p#error-text
  color red
